---
import Layout from "../layouts/Layout.astro";
import { useCloud } from "freestyle-sh";
---

<Layout title="Reilly Vejar">
  <main>
    <div>
      <h1>Reilly Vejar</h1>
    </div>
  </main>
</Layout>
