---
import Layout from "../layouts/Layout.astro";
import { useCloud } from "freestyle-sh";
---

<Layout title="Reilly Vejar">
  <main class="bg-eggshell h-[100vh]">
    <div id="draggable" class="font-Montserrat-1-9 font-extrabold text-9xl select-none relative bg-gradient-to-bl from-[#530909] via-[#e42f2f] to-[#530909] h-100 w-100 bg-clip-text text-transparent leading-tight">
      Reilly Vejar
    </div>
  </main>
  <section class="bg-[#000000] h-[100vh]">
    <div class="text-white font-montserrat-regular text-4xl p-7">
      About Me
    </div>
    <div class="font-JosefinSans-1-7 font-light text-xl text-white p-7">
        I am a third year at the University of Chicago majoring in Math and Computer Science.
    </div>
  </section>
  <script src="../scripts/draggable.ts"></script>
</Layout>

<!-- flex items-center justify-center -->
 <!-- -translate-y-10 -->