---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;

  @layer base {
    @font-face {
      font-family: 'Montserrat-100-900';
      src: url("/src/fonts/Montserrat-100-900.woff2") format('woff2'),
           url("/src/fonts/Montserrat-100-900.woff") format('woff'),
           url("/src/fonts/Montserrat-100-900.ttf") format('truetype');
    }
    @font-face {
      font-family: 'Montserrat-Italic-100-900';
      src: url("/src/fonts/Montserrat-Italic-100-900.woff2") format('woff2'),
           url("/src/fonts/Montserrat-Italic-100-900.woff") format('woff'),
           url("/src/fonts/Montserrat-Italic-100-900.ttf") format('truetype');
    }
    @font-face {
      font-family: 'SourceCodePro-100-900';
      src: url("/src/fonts/SourceCodePro-100-900.woff2") format('woff2'),
           url("/src/fonts/SourceCodePro-100-900.woff") format('woff'),
           url("/src/fonts/SourceCodePro-100-900.ttf") format('truetype');
    }
    @font-face {
      font-family: 'SourceCodePro-Italic-100-900';
      src: url("/src/fonts/SourceCodePro-Italic-100-900.woff2") format('woff2'),
           url("/src/fonts/SourceCodePro-Italic-100-900.woff") format('woff'),
           url("/src/fonts/SourceCodePro-Italic-100-900.ttf") format('truetype');
    }
    @font-face {
      font-family: 'JosefinSans-100-700';
      src: url("/src/fonts/JosefinSans-100-700.woff2") format('woff2'),
           url("/src/fonts/JosefinSans-100-700.woff") format('woff'),
           url("/src/fonts/JosefinSans-100-700.ttf") format('truetype');
    }
    @font-face {
      font-family: 'JosefinSans-Italic-100-700';
      src: url("/src/fonts/JosefinSans-Italic-100-700.woff2") format('woff2'),
           url("/src/fonts/JosefinSans-Italic-100-700.woff") format('woff'),
           url("/src/fonts/JosefinSans-Italic-100-700.ttf") format('truetype');
    }
    @font-face {
      font-family: 'Inter-100-900';
      src: url("/src/fonts/Inter-100-900.woff2") format('woff2'),
           url("/src/fonts/Inter-100-900.woff") format('woff'),
           url("/src/fonts/Inter-100-900.ttf") format('truetype');
    }
  }
</style>