---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;

  @font-face {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    src: url("/src/fonts/Montserrat-Regular.ttf") format('truetype'),
  }
  
  @font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    src: url("/src/fonts/Montserrat-SemiBold.ttf") format('truetype'),
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    src: url("/src/fonts/Montserrat-Bold.ttf") format('truetype'),
  }

  @font-face {
    font-family: 'Montserrat-ExtraBold';
    font-weight: 800;
    src: url("/src/fonts/Montserrat-ExtraBold.ttf") format('truetype'),
  }

  @font-face {
    font-family: 'SourceCodePro-Light';
    font-weight: 600;
    src: url("/src/fonts/SourceCodePro-Light.ttf") format('truetype'),
  }
</style>